asn1crypto==1.4.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
futures==3.3.0;python_version<"2.7"
idna==2.10
ipaddress==1.0.23
lxml==4.6.2
pycparser==2.20
pyOpenSSL==20.0.0
requests==2.25.0
requests-futures==1.0.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.2
